<h3 class="card-header card-title">Our list has <%= Film.public_count %> public films and counting!</h3>

<ul class="list-group">
  <% @films.each do |film| %>
    <% unless film.archived? %>
      <li class="list-group-item">
        <span class="list-group-item list-group-item-action"><%= link_to film.title, film %></span>
      </li>
    <% end %>
  <% end %>
</ul>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

